@font-face {
  font-family: "YuGothR";
  src: url("fonts/YuGothR.ttc"); }

@font-face {
  font-family: "YuGothB";
  src: url("fonts/YuGothB.ttc"); }

@font-face {
  font-family: "YuGothL";
  src: url("fonts/YuGothL.ttc"); }

@font-face {
  font-family: "segoeuiR";
  src: url("fonts/segoeui.ttf"); }
